body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	display: flex;
	flex-direction: column;

	background-color: rgb(10, 5, 40);
}

#graphContainer {
	position: relative;
	flex: 1 1 auto;
	height: 100%;

	user-select: none;
	-webkit-user-select: none;

	> canvas {
		position: absolute;
	}

	> .textOverlayContainer {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
	}
}

.labelItem {
	position: absolute;
	color: white;

	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.rightAlign {
	text-align: right;
}

#buttonContainer {
	flex: 0 1 auto;
	margin: 1rem;
}

#graphInfo {
	position: absolute;
	padding: 0.5rem;
	border-radius: 1rem;
	border: 2px solid white;
	color: white;
	background-color: rgb(100, 100, 255);
	pointer-events: none;
}

.hidden {
	display: none;
}
